<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-9 ndm-col-centered">
        <div class="row">
          <div class="col-xs-6">
            Subscribe via RSS:
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">tutorials</a>, 
            <a href="{{ "/blog/feed.xml" | prepend: site.baseurl }}">blog</a>.
          </div>

          {% if page.footer_nav %}
          <div class="col-xs-6 text-right ndm-footer-nav">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% if page.footer_nav %}
        <div class="row">
          <div class="col-xs-12">
            Artwork by <a href="https://twitter.com/_lbaillie/">Liz Baillie</a>.
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
