---
layout: post
---
<div class="row">
  <div class="col-xs-12">
    <!-- manually specify width/height to avoid things resizing while
         Youtube play loads; not sure how imp't this is, maybe not at all -->
    <div id="player" style="width:640px; height:400px;"></div>

    <script> VIDEO_ID = "{{ page.youtube_id }}"; WIDTH = '640'; HEIGHT = '400'; </script>
    <script src="{{ "/assets/js/player.js" | prepend: site.baseurl }}" async></script>
    <script src="{{ "/assets/js/play_url.js" | prepend: site.baseurl }}"></script>

    <!--<iframe width="600" height="375" src="{{ page.movie }}" frameborder="0" allowfullscreen>
        </iframe>-->
    <div class="ndm-playback">
      Playback speed:
      <a id="link1x" href="">1x</a>;
      <a id="link1_5x" href="">1.5x</a>;
      <a id="link2x" href="">2x</a>.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h3>Description</h3>
    {{ content }}
    <p>After completing the tutorial, please
      <a href="{{ "/feedback" | prepend: site.baseurl }}">let us know what you think!</a></p>
  </div>
  <div class="col-xs-6">
    <h3>Exercises</h3>
    {% if page.exercises %}
    <ul>
      {% for exercise in page.exercises %}
      <li>
        <a target="_blank"
           data-exercise-uri="{{ exercise.rust }}"
           href="{{ "/exercises" | site.baseurl }}">
            {{ exercise.name | escape }}
        </a>
        {% if exercise.hint %}
        {{ exercise.hint | markdownify }}
        {% endif %}
        {% endfor %}
      </li>
    </ul>
    {% else %}
    No exercises for this tutorial.
    {% endif %}
  </div> <!--/col-xs-6-->
</div> <!--/row-->
<div class="row">
  <div class="col-xs-6">
    <h3>Watch this first</h3>
    {% if page.predecessors %}
    <ul>
    {% for node in page.predecessors %}
    <li> <a href="{{ node.link | prepend: site.baseurl }}">{{node.name}}</a>
    {% endfor %}
    </ul>
    {% else %}
    No prerequisites for this tutorial.
    {% endif %}
  </div>
  <div class="col-xs-6">
    {% if page.successors %}
    <h3>Watch this next</h3>
    <ul>
    {% for node in page.successors %}
    <li> <a href="{{ node.link | prepend: site.baseurl }}">{{node.name}}</a>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

