---
layout: post
---
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <iframe width="600" height="375" src="{{ page.movie }}" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h3>Description</h3>
    {{ content }}
    <p>After completing the tutorial, please
      <a href="{{ "/feedback" | prepend: site.baseurl }}">let us know what you think!</a></p>
  </div>
  <div class="col-xs-6">
    <h3>Exercises</h3>
    {% if page.exercises %}
    <ul>
      {% for exercise in page.exercises %}
      <li> <a target="_blank" href="{% play_url exercise.rust %}">{{ exercise.name | escape }}</a>
        {% if exercise.hint %}
        {{ exercise.hint | markdownify }}
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    No exercises for this tutorial.
    {% endif %}
  </div> <!--/col-xs-6-->
</div> <!--/row-->
<div class="row">
  <div class="col-xs-6">
    <h3>Watch this first</h3>
    {% if page.predecessors %}
    <ul>
    {% for node in page.predecessors %}
    <li> <a href="{{ node.link | prepend: site.baseurl }}">{{node.name}}</a>
    {% endfor %}
    </ul>
    {% else %}
    No prerequisites for this tutorial.
    {% endif %}
  </div>
  <div class="col-xs-6">
    {% if page.successors %}
    <h3>Watch this next</h3>
    <ul>
    {% for node in page.successors %}
    <li> <a href="{{ node.link | prepend: site.baseurl }}">{{node.name}}</a>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

